<?xml version="1.0"?>
<config>
	<ErrorLogDir>C:\EASTWeb_Test</ErrorLogDir>
	<DownloadDir>C:\EASTWeb_Test\Downloads</DownloadDir>
	<Database>
		<GlobalSchema>Scheduler_Test_EASTWeb</GlobalSchema>
		<HostName>localhost</HostName>
		<Port>5432</Port>
		<DatabaseName>postgres</DatabaseName>
		<UserName>postgres</UserName>
		<PassWord>eastweb</PassWord>
		<MaxNumOfConnectionsPerInstance>50</MaxNumOfConnectionsPerInstance>
	</Database>
	<Output>
		<SummaryCalculation>Max</SummaryCalculation>
		<SummaryCalculation>Mean</SummaryCalculation>
		<SummaryCalculation>Min</SummaryCalculation>
		<SummaryCalculation>SqrSum</SummaryCalculation>
		<SummaryCalculation>StdDev</SummaryCalculation>
		<SummaryCalculation>Sum</SummaryCalculation>
	</Output>
</config>
