<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE config>
<config>
	<ErrorLogDir>C:\EASTWeb</ErrorLogDir>
	<DownloadDir>C:\EASTWeb\Downloads</DownloadDir>
	<Database>
		<GlobalSchema>EASTWeb</GlobalSchema>
		<HostName>localhost</HostName>
		<Port>5432</Port>
		<DatabaseName>postgres</DatabaseName>
		<UserName>postgres</UserName>
		<PassWord>eastweb</PassWord>
		<MaxNumOfConnectionsPerInstance>50</MaxNumOfConnectionsPerInstance>
	</Database>
	<Output>
		<TemporalSummaryCompositionStrategy>GregorianWeeklyStrategy</TemporalSummaryCompositionStrategy>
		<TemporalSummaryCompositionStrategy>GregorianMonthlyStrategy</TemporalSummaryCompositionStrategy>
		<TemporalSummaryCompositionStrategy>CDCWeeklyStrategy</TemporalSummaryCompositionStrategy>
		<TemporalSummaryCompositionStrategy>WHOWeeklyStrategy</TemporalSummaryCompositionStrategy>
		<TemporalSummaryCompositionStrategy>CompositeOf8Days</TemporalSummaryCompositionStrategy>
		<SummaryCalculation>Max</SummaryCalculation>
		<SummaryCalculation>Mean</SummaryCalculation>
		<SummaryCalculation>Min</SummaryCalculation>
		<SummaryCalculation>SqrSum</SummaryCalculation>
		<SummaryCalculation>StdDev</SummaryCalculation>
		<SummaryCalculation>Sum</SummaryCalculation>
	</Output>
</config>
