<?xml version="1.0"?>
<config>
	<ErrorLogDir>C:\EASTWeb</ErrorLogDir>
	<DownloadDir>C:\EASTWeb\Downloads</DownloadDir>
	<Database>
		<GlobalSchema>EASTWeb</GlobalSchema>
		<HostName>localhost</HostName>
		<Port>5432</Port>
		<DatabaseName>postgres</DatabaseName>
		<UserName>postgres</UserName>
		<PassWord>eastweb</PassWord>
		<MaxNumOfConnectionsPerInstance>50</MaxNumOfConnectionsPerInstance>
	</Database>
	<!-- <DataBase>
		<GlobalSchema>EASTWeb</GlobalSchema>
		<HostName>localhost</HostName>
		<Port>5432</Port>
		<DatabaseName>epidemiadb</DatabaseName>
		<userName>postgres</userName>
		<passWord>dPpKa2Q8NW</passWord>
	</DataBase> -->
	<Output>
		<TemporalSummaryCompositionStrategy>GregorianWeeklyStrategy</TemporalSummaryCompositionStrategy>
		<TemporalSummaryCompositionStrategy>GregorianMonthlyStrategy</TemporalSummaryCompositionStrategy>
		<TemporalSummaryCompositionStrategy>CDCWeeklyStrategy</TemporalSummaryCompositionStrategy>
		<TemporalSummaryCompositionStrategy>WHOWeeklyStrategy</TemporalSummaryCompositionStrategy>
		<TemporalSummaryCompositionStrategy>CompositeOf8Days</TemporalSummaryCompositionStrategy>
		<SummaryCalculation>Max</SummaryCalculation>
		<SummaryCalculation>Mean</SummaryCalculation>
		<SummaryCalculation>Min</SummaryCalculation>
		<SummaryCalculation>SqrSum</SummaryCalculation>
		<SummaryCalculation>StdDev</SummaryCalculation>
		<SummaryCalculation>Sum</SummaryCalculation>
	</Output>
</config>
